{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Add employee {% endblock %}

{% block body %}
<div class="container">
    <form method='POST' action="">
        <table class="table">
            <tr>
                <td>First name</td>
                <td><input type='text' name='first_name' class='form-control' /> </td>
            </tr>
             <tr>
                <td>Last name</td>
                <td><input type='text' name='last_name' class='form-control' /> </td>
             </tr>
            <tr>
                <td>Age</td>
                <td><input type='number' name='age' class='age' /> </td>
            </tr>
            <tr>
                <td Colspan='2'>
                    <input type='submit' name='submit' value='submit' class="btn btn-warning" /> </td>
                </td>
            </tr>

        </table>

    </form>
</div>


{% endblock %}